@{ 
    ViewBag.Title = "API Oasis Alajuela";
}

<div class="jumbotron">
    <h1>API Oasis Alajuela</h1>
    <p class="lead">Este website es para consumo de Oasis Alajuela y todos sus derechos se encuentran reservados. Si quiere saber mas sobre Oasis Alajuela...</p>
    <p><a href="https://www.oasisalajuela.com" class="btn btn-primary btn-lg">Siganos &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>OasisAlajuela.com</h2>
        <p>Encuentra en nuestra pagina, mensajes, noticias, devociones, recursos y mucha información llena del Espíritu Santo.</p>
        <p>
            <a class="btn btn-primary" href="https://oasisalajuela.com/">
                Siganos &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2><i class="fab fa-youtube text-danger"></i> YouTube</h2>
        <p>Ahora gracias a la tecnologia puede seguir nuestros servicios, devocionales, estudios, entre otros a traves de internet y por medio de YouTube.</p>
        <p>
            <a class="btn btn-primary" href="https://www.youtube.com/channel/UCsWIb3EobSzS-pNrPXvq7_A">
                <i class="fab fa-youtube"></i> Siganos &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Redes Sociales</h2>
        <p>Tambien puedes seguirnos a traves de las redes sociales.</p>
        <p>
            <a class="btn btn-primary" href="https://www.facebook.com/OasisAlajuela/">
                <i class="fab fa-facebook-square"></i> Facebook &raquo;
            </a>
        </p>
        <p>
            <a class="btn btn-primary" href="https://twitter.com/oasisalajuela">
                <i class="fab fa-twitter-square"></i> Twitter &raquo;
            </a>
        </p>
        <p>
            <a class="btn btn-primary" href="https://www.instagram.com/oasisalajuela/">
                <i class="fab fa-instagram-square"></i> Instragram &raquo;
            </a>
        </p>
    </div>
</div>
