@model ET.Users

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 0 10px 0;">
                <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; font-family: Poppins, sans-serif;">
                    <tr>
                        <td align="center" style="padding: 0;">
                            <img src="https://scontent.fsyq3-1.fna.fbcdn.net/v/t1.0-9/88316101_500755240619416_1528612511715164160_n.png?_nc_cat=105&amp;_nc_sid=e3f864&amp;_nc_ohc=o9Ir3IHN3SoAX_Gms9A&amp;_nc_ht=scontent.fsyq3-1.fna&amp;oh=304f519682ca6802af18ae0e090d5caf&amp;oe=5ECB613B" alt="Creating Email Magic" width="600" height="250" style="display: block;">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 20px 30px 20px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <h3>Confirmación de Registro</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Hola @Model.FullName! Gracias por registrarse y por tener el sentir de hacerte parte de esta familia. Dios trae cosas grandes para esta casa y ahora seras parte de ellas. Desde ya puedes ver el contenido completo de nuestro website:
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p>
                                            <a href="http://OasisAlajuela.com/" target="_blank" title="Oasis Alajuela" style="font-weight: bold;">http://OasisAlajuela.com/</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Nombre de Usuario: <strong>@Model.UserName</strong><br />
                                        Contraseña: <strong>@Model.Password</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            Cuando inicie seción con su cuenta, podrá hacer lo siguiente:
                                            <ul>
                                                <li>Ver todas las prédicas en el momento que usted desee.</li>
                                                <li>Disponer de recursos impartidos por nuestra casa para el crecimiento espiritual.</li>
                                                <li>Muchas otras cosas mas de bendición que vienen de camino.</li>
                                            </ul>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Bendiciones...</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 30px 10px 30px 10px; background-color:wheat;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="60%">
                                        <p>
                                            <strong>Oasis Alajuela</strong> &copy;
                                            <script>document.write(new Date().getFullYear());</script>
                                            Derechos reservados
                                        </p>
                                    </td>
                                    <td align="center">
                                        <table style="padding: 0;">
                                            <tr>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://twitter.com/oasisalajuela" target="_blank" title="Twitter">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.facebook.com/OasisAlajuela/" target="_blank" title="Facebook">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_black-512.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.instagram.com/aes_oasis/" target="_blank" title="Instagram">
                                                        <img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-3-512.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.youtube.com/channel/UCsWIb3EobSzS-pNrPXvq7_A" target="_blank" title="YouTube">
                                                        <img src="https://cdn1.iconfinder.com/data/icons/andriod-app-logo/32/icon_youtube-512.png" width="40" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>