<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Forgot Password Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 0 10px 0;">
                <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; font-family: Poppins, sans-serif;">
                    <tr>
                        <td align="center" style="padding: 0;">
                            <img src="https://oasisalajuela.com/Images/fondo.png" alt="Oasis Alajuela" width="600" height="230" style="display: block;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 20px 30px 20px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <h3>Restablecer contraseña</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Hola {FullName}! Para restablecer su contraseña, utilice el siguiente enlace:
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p>
                                            <a href="http://OasisAlajuela.com/ResetPassword/{GUID}" target="_blank" title="Oasis Alajuela" style="font-weight: bold;">Restablecer contraseña</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Bendiciones...</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 30px 10px 30px 10px; background-color:#00ACEC; color:white;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="60%">
                                        <p style="margin:0; font-size: 1rem;">
                                            <strong>Oasis Alajuela</strong> &copy;
                                            <script>document.write(new Date().getFullYear());</script>
                                            Derechos reservados
                                        </p>
                                    </td>
                                    <td align="center">
                                        <table style="padding: 0;">
                                            <tr>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://twitter.com/oasisalajuela" target="_blank" title="Twitter">
                                                        <img src="https://oasisalajuela.com/Images/twitter.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.facebook.com/OasisAlajuela/" target="_blank" title="Facebook">
                                                        <img src="https://oasisalajuela.com/Images/facebook.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.instagram.com/aes_oasis/" target="_blank" title="Instagram">
                                                        <img src="https://oasisalajuela.com/Images/instagram.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.youtube.com/channel/UCsWIb3EobSzS-pNrPXvq7_A" target="_blank" title="YouTube">
                                                        <img src="https://oasisalajuela.com/Images/youtube.png" width="40" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>