@{
    ViewBag.Title = "Confirmación";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="card bg-light ftco-animate animated fadeInUp">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center font-weight-bold">Restabecer Contraseña - Confirmación</h4>
        <p class="text-center">Su solicitud para restablecer su contraseña ha sido enviada, por favor revise su correo....</p>
    </article>
</div>
