@{
    ViewBag.Title = "Confirmación";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>
<div class="col text-center heading-section ftco-animate animated fadeInUp">
    <h2 class="mb-0 mt-3"><span class="px-4">@ViewBag.Title</span></h2>
    <span class="subheading">Restabecer Contraseña</span>
</div>
<div class="ftco-animate animated fadeInUp">
    <article class="card-body mx-auto">
        @if (Request.IsAuthenticated)
        {
            <p class="text-center">Su constraseña has sido restablecida. Por favor haga @Html.ActionLink("click aqui para continuar", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
        }
        else
        {
            <p class="text-center">Su constraseña has sido restablecida. Por favor haga @Html.ActionLink("click aqui para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
        }
    </article>
</div>

