.front-indicator {
    width: 250px;
    margin: 5px 32px 15px 32px;
    background-color: #f6f6f6;
    color: black;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    font-size: 2em;
    height: 120px;
}

.wrapper {
    width: 100%;
    text-align: center;
}

/*.container {
    margin: 0 auto;
    width: 500px;
    text-align: left;
}*/

.booking-details {
    float: left;
    text-align: left;
    margin-left: 35px;
    font-size: 12px;
    position: relative;
    height: 401px;
}

    .booking-details h2 {
        margin: 25px 0 20px 0;
        font-size: 17px;
    }

    .booking-details h3 {
        margin: 5px 5px 0 0;
        font-size: 14px;
    }

div.seatCharts-cell {
    color: #182C4E;
    height: 25px;
    width: 25px;
    line-height: 25px;
}

div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;
}

div.seatCharts-row {
    height: 35px;
}

div.seatCharts-seat.available {
    background-color: darkseagreen;
}

div.seatCharts-seat.reserved {
    background-color: lightgray;
    cursor: not-allowed;
}

div.seatCharts-seat.booked {
    background-color: #00CAEC;
    cursor: not-allowed;
}

div.seatCharts-seat.FullHouse {
    background-color: gray;
    cursor: not-allowed;
}

div.seatCharts-seat.selected {
    background-color: red;
}

div.seatCharts-seat.unavailable {
    background-color: #472B34;
}

div.seatCharts-container {
    border-right: 1px dotted #adadad;
    width: 200px;
    padding: 20px;
    float: left;
}

div.seatCharts-legend {
    padding-left: 0px;
    position: absolute;
    bottom: 16px;
}

ul.seatCharts-legendList {
    padding-left: 0px;
}

span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}

.checkout-button {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

#selected-seats {
    max-height: 90px;
    overflow-y: scroll;
    overflow-x: none;
    width: 170px;
}

.Position1 > .seatCharts-row {
    /*display: flex;*/
    /*justify-content: flex-start;*/    
}
.Position1{
    width: 450px;
}
.Position2, .Position3 {
    width: 400px;
    position: relative;
    z-index: 15;
}
.Position4 {
    width: 625px;
}

.Position4 > .seatCharts-row {
     /*display: block;*/
     /*justify-content:*/ 
}

input[type="submit"], 
button, 
.button,
.btnReserve {
    background: #00CAEC !important;
    color: white !important;
    border-radius: 5px !important;
    border-color: #00CAEC !important;
}
    input[type="submit"]:hover,
    button:hover,
    .button:hover,
    .btnReserve:hover {
        background: #B0C4DE !important;
        color: #00CAEC !important;
        border-radius: 5px !important;
        border-color: #00CAEC !important;
    }