header {
    background-color:black;
}

body {   
    
}
.container {
    max-width: 100% !important;
}

footer {
    background-color:black;
}

footer > div .card {
    background-color: transparent !important;
}

footer > div .card-title  {
    color: white !important;
    font-size: 1.25vw !important;
}

footer > div .card-text, div .card-link  {
    color: darkgray !important;
    font-size: 1vw !important;
}

img > .d-block {
    max-width: 70% !important;
    min-width: 70% !important;
}

.upevent-intro {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin: 0 !important;
}

    .upevent-intro .overlay {
        position: absolute;
        width: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .8;
        background: #c7b198;
    }

    .upevent-intro h2.subheading {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .upevent-intro h2 a {
        color: #fff;
    }

.hp-section {
    padding: 2em 0;
    position: relative;
}

.hp-animate {
    opacity: 0;
    visibility: hidden;
}

#timer {
    width: 100%;
}

    #timer .time {
        width: 25%;
        font-size: 38px;
        font-weight: 200;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        color: #fff;
        text-align: center !important;
    }

        #timer .time:first-child {
            border-left: transparent;
        }

        #timer .time span {
            font-size: 16px;
            display: block;
            color: #fff;
        }

.heading-section .subheading {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.2);
}

.heading-section h2 {
    font-size: 38px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 28px;
    }
}

.heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.7);
}

.heading-section.heading-section-white h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}

.heading-section.heading-section-white p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.services .icon {
    width: 110px;
    height: 110px;
    position: relative;
    background: #ffe5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.services .icon span {
    color: #ff5656;
}

.sermons {
    margin-bottom: 4em;
}

.sermons .img {
    display: block;
    height: 300px;
}

.img,
.work-img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.modal-content {
    background: transparent !important;
    border: none !important;
}

.watermark {
    opacity: 0.3;
    color: black;
}