body {   
    
}
.container {
    max-width: 100% !important;
}

footer {
    background-color:black;
}

footer > div .card {
    background-color: transparent !important;
}

footer > div .card-title  {
    color: white !important;
}

footer > div .card-text, div .card-link  {
    color: darkgray !important;
    text-decoration: none !important;
}

img > .d-block {
    max-width: 70% !important;
    min-width: 70% !important;
}

.upevent-intro {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin: 0 !important;
}

    .overlay {
        position: absolute;
        display: block;
        width: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        background: #c7b198;
    }

    .upevent-intro h2.subheading {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .upevent-intro h2 a {
        color: #fff;
    }

.hp-section {
    padding: 2em 0;
    position: relative;
}

.hp-animate {
    opacity: 0;
    visibility: hidden;
}

#timer {
    width: 100%;
}

    #timer .time {
        width: 25%;
        font-size: 38px;
        font-weight: 200;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        color: #fff;
        text-align: center !important;
    }

        #timer .time:first-child {
            border-left: transparent;
        }

        #timer .time span {
            font-size: 16px;
            display: block;
            color: #fff;
        }

.heading-section .subheading {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.2);
}

.heading-section h2 {
    font-size: 38px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 28px;
    }
    .subheading {
        font-size: 20px;
        margin: 0;
    }

    #Tdays, #Thours, #Tminutes, #Tseconds {
        margin: 0;
        padding: 0;
    }

    .overlay {
        display: none !important;
    }
}

.heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.7);
}

.heading-section.heading-section-white h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}

.heading-section.heading-section-white p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.services .icon {
    width: 110px;
    height: 110px;
    position: relative;
    background: #ffe5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.services .icon span {
    color: #ff5656;
}

.sermons {
    margin-bottom: 4em;
}

.sermons .img {
    display: block;
    height: 300px;
}

.img,
.work-img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.modal-content {
    background: transparent !important;
    border: none !important;
}

.watermark {
    opacity: 0.3;
    color: black;
}

.quick-contact-info {
    background: black;
    color: rgba(255,255,255,0.5);
}

.site-footer {
    padding: 4em 0;
    background-image: url('../Images/igleoa1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

    .site-footer:before {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .site-footer .footer-heading {
        font-size: 20px;
    }

    .site-footer a {
        color: rgba(255, 255, 255, 0.3);
    }

        .site-footer a:hover {
            color: #fff;
        }

    .site-footer ul li {
        margin-bottom: 10px;
    }

.headerFixed {
    position: fixed;
    background: url('../Images/bg.jpg');
    height: 60px !important;
}

@media (max-width: 800px)  {
    .headerFixed {
        height: 44px !important;
    }
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
}

    .marquee div {
        display: block;
        /*width: 125%;*/
        height: 30px;
        position: absolute;
        overflow: hidden;
        animation: marquee 25s linear infinite;
    }

@keyframes marquee {
    0% { left: 100%;}

    100% {left: -100%;}
}

#FootherBanner {
    background-color: black;
    color: #a6a6a6;
    cursor: default;
    height: 3.25em;
    left: 0;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 10001;
    bottom: 0;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.Menulinks {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(255, 255, 255, 0.125);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
    /*color: rgb(255, 255, 255);*/
    display: block;
    font-family: "Poppins", sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 300;
    line-height: 56px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    vertical-align: baseline;
    visibility: visible;
    -moz-text-size-adjust: none;
}

.Menulinks:hover {
    color: rgb(255, 255, 255);
}

.zoom {
    transition: transform .2s;
    width: 150px;
    
}

.zoom:hover {
        -ms-transform: scale(3); /* IE 9 */
        -webkit-transform: scale(3); /* Safari 3-8 */
        transform: scale(3);
    }

@media (max-width: 480px) {
    .searchfield {
        width: 100% !important;
    }
}


.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

    .panel.date .month {
        padding: 2px 0px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .panel.date .day {
        padding: 3px 0px;
        font-weight: 700;
        font-size: 1.5em;
    }

.ftco-animate {
    opacity: 0;
    visibility: hidden;
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 270px;
}

.blog-entry {
    width: 100%;
    margin-bottom: 3em;
}

    .blog-entry .img {
        display: block;
        height: 150px;
        width: 150px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }

@media (max-width: 767.98px) {
    .blog-entry .img {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.blog-entry .text {
    position: relative;
    z-index: 0;
    width: 100%;
    width: calc(100% - 150px);
}

@media (max-width: 767.98px) {
    .blog-entry .text {
        width: 100%;
        text-align: center;
    }
}

.blog-entry .text h3 {
    font-weight: 400;
    font-size: 30px;
}

    .blog-entry .text h3 a {
        color: #000000;
    }

.blog-entry .text .meta-wrap {
    width: 100%;
    display: block;
}

    .blog-entry .text .meta-wrap .meta span {
        font-size: 14px;
        margin: 0 10px 0 0;
        color: #bfbfbf;
    }

        .blog-entry .text .meta-wrap .meta span a {
            color: #000000;
        }

.topper {
    width: 100px;
    background: #ebe3da;
}
.blog-entry .textBlog {
    position: relative;
    background: #fff;
    width: 100%;
    margin: 0 auto;
}
span.dayBlog {
    margin-top: 5px;
    font-size: 50px;
    font-weight: 300;
    color: #b59877;
    line-height: 1.2;
}
span.yr, span.mos {
    display: block;
    color: #c7b198;
}
.desc {
    width: calc(100% - 100px);
}

.heading {
    
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 400;
}

    .heading a {
        font: inherit;
        color: #000000;
        text-transform: uppercase;
    }

.tagcloud {
    padding: 0;
}

    .tagcloud a {
        text-transform: uppercase;
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 7px;
        margin-right: 4px;
        border-radius: 4px;
        color: #000000;
        border: 1px solid #ccc;
        font-size: 11px;
    }

        .tagcloud a:hover {
            border: 1px solid #000;
        }

.ActiveColor {
    color: green;
}

.DisactiveColor {
    color: red;
}

.profile-img {
    text-align: center;
}

    .profile-img img {
        width: 70%;
        height: 100%;
    }

    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -40%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

.modalvideo {
    width: 100% !important;
    height: 600px !important;
}

@media (max-width: 980px) {
    .modalvideo {
        height:400px !important;
    }
}

@media (max-width: 380px) {
    .modalvideo {
        height: 300px !important;
    }
}