@{
    ViewBag.Title = "Biografía Gerardo Montero";
    Layout = ViewBag.Layout;
}
<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>
<section class="hp-section bg-light ftco-animate animated fadeInUp">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center heading-section heading-section-light ftco-animate animated fadeInUp">
                <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
                <span class="subheading">Adorador, Pastor, Maestro de la Palabra, Ministro de alabanza</span>
            </div>
        </div>
        <div class="row">
            <p class="my-2 text-justify">
                Nacido en San José Costa Rica el 3 de febrero de 1968, cursando estudios primarios y secundarios, titulado técnico en electromecánica en el Instituto Técnico Don Bosco,
                graduado del Instituto Universal de Idiomas en inglés, Graduado de seminario de inglés avanzado del Colegio Leonardo Da Vinci de la UACA, graduado auxiliar de contabilidad
                en el Instituto de Relaciones Publicas y Administración (IRPA).
            </p>
            <p class="my-2 text-justify">
                Cursos de servicio al cliente impartido en el ITAN y seminario de servicio al cliente y desarrollo personal impartido por el motivador German Retana, inicio carrera de administración
                de empresas en la UNED.
            </p>
            <h3 class="mt-4 mb-0 font-weight-bolder text-black">Desarrollo en su etapa como Adorador</h3>
        </div>
        <hr class="mb-3" />
        <div>
            <img src="~/Images/familiaPastoral.jpeg" width="350" align="left" class="my-2 mr-3" style="max-width: 100%;" />
            <p class="my-2 text-justify">
                Ha obtenido Estudios Musicales en canto, piano, y ciencias musicales en diferentes instituciones y clases particulares con profesores reconocidos como Ana Zamora (canto) Greivin Camacho
                (piano) Luís Monge (piano) ademas exhaustivamente autodidacta.
            </p>
            <p class="my-2 text-justify">
                Ha participado como maestro de adoración en el ICB (Inst. de Capacitación Bíblica) en Oasis de Esperanza Costa Rica, como ministro de alabanza y conferencista en diferentes congregaciones
                a nivel nacional, enseñando y ministrando en actividades de liderazgo.
            </p>
            <p class="my-2 text-justify">
                Ha realizado un seminario para adoradores llamado “Salmistas en Comunión” donde ministró líderes de alabanza y adoradores de todo el país junto con ministros como Charlie Hernández,
                Kerim Meono, etc. Director y organizador general del coro de 2000 voces que acompañó al pastor Benny Hinn en enero del 2004 en Estadio Nacional siendo también director de alabanza en
                la actividad.
            </p>
            <p class="my-2 text-justify">
                Ha participado como “voz de fondo” en producciones como Avívanos, Fresca Unción de Oasis de Esperanza, Atráeme a ti Luigi Castro donde también fue director del coro, Viva presencia William Jiménez.
                Además, ha sido corista, director de alabanza y miembro del equipo organizador de la noche de celebración con Ron Kenolly donde se interpretó todo el repertorio en idioma inglés.
            </p>
            <p class="my-2 text-justify">
                Participó como director de alabanza en el seminario “Lidere” de “Equip” perteneciente al reconocido escritor y conferencista internacional John C Maxwell e impartido en esta ocasión por Marcos Witt.
            </p>
            <h3 class="mt-4 mb-0 font-weight-bolder text-black">Desarrollo en su etapa como Maestro conferencista</h3>
        </div>
        <hr />
        <div>
            <img src="~/Images/familiaPastoral.jpeg" width="350" align="right" class="my-2 ml-3" style="max-width: 100%;" />
            <p class="my-2 text-justify">
                Director Nacional y expositor de una de las etapas del seminario “Un millón de líderes” de “Equip”.
            </p>
            <p class="my-2 text-justify">
                Presidente y fundador de GAMA Motivacional; una empresa dedicada a brindar recursos motivacionales y de desarrollo personal. Ha impartido conferencias y seminarios en empresas públicas y privadas,
                instituciones educativas, iglesias y diferentes organizaciones.
            </p>
            <p class="my-2 text-justify">
                Director de Academia de Obreros en la Iglesia Oasis de Esperanza, consejero, maestro y predicador con un enfoque en la comunión con Dios, la adoración, la restauración, la motivación, el
                crecimiento personal y la enseñanza de la Palabra de Dios de una manera práctica, vibrante y dinámica respaldada por la unción y la frescura de la presencia de Dios.
            </p>
            <p class="my-2 text-justify">
                En este tiempo está por publicar el libro <strong>“Espíritu Santo y el discípulo adorador”</strong>, el cual se escribe no solo desde la perspectiva de un ministro de alabanza y músico sino desde la óptica
                pastoral, creyendo que no todo está dicho sobre adoración y desafiando conceptos que durante mucho tiempo hemos interpretado ligeramente o profundamente equivocados.  También es autor de
                pequeñas ediciones de material para liderazgo como “Sabiduría en las finanzas”, “Jesús en casa de sus amigos”, etc.
            </p>
            <h3 class="mt-4 mb-0 font-weight-bolder text-black">Desarrollo en su etapa como Pastor</h3>
        </div>
        <hr />
        <div>
            <img src="~/Images/familiaPastoral.jpeg" width="350" align="left" class="my-2 mr-3" style="max-width: 100%;" />
            <p class="my-2 text-justify">
                A nivel ministerial ha servido en congregaciones de diferentes denominaciones como Evangelio Completo, Santidad Pentecostal (en sus inicios) desde los 12 años, como guitarrista y director
                de alabanza, director de músicos y líder en diferentes áreas. Luego se establece en la denominación Asambleas de Dios En la Iglesia Oasis de Esperanza del Apóstol Raúl Vargas y la
                Pastora Dinora de Vargas.
            </p>
            <p class="my-2 text-justify">
                A nivel de liderazgo congregacional sirvió durante 15 años en la iglesia Oasis de Esperanza como Pastor del Ministerio Musical, Pastor de Red de Matrimonios. Además, ha compartido
                escenario sirviendo con ministros como Dante Gebel, Marcos Witt, Heriberto Hermosillo, Héctor Hermosillo, Aquiles Azar, Coalo Zamorano, Carlos Luna, Edwin Santiago etc.
            </p>
            <p class="my-2 text-justify">
                Internacionalmente ha visitado países como EL Salvador, Guatemala, Puerto Rico, Venezuela, República Dominicana, Argentina, México, Colombia, y estados como Florida, New Jersey,
                New York, Pennsylvania, Maryland (Washington DC), ministrando sobre adoración y como ministro de alabanza y conferencista en seminarios, y actividades de iglesias al cual fue invitado.
            </p>
            <p class="my-2 text-justify">
                Actualmente junto a su esposa y familia son Pastores generales en la iglesia Auditorio del Espíritu Santo Oasis Alajuela Costa Rica desarrollando la visión que el Señor le ha encomendado.
                Actualmente también participa como ministro de alabanza, predicador y maestro de la Palabra en las diferentes actividades nacionales e internacionales.
            </p>
            <p class="my-2 text-justify">
                Desde el año 2014 comenzó a visitar la iglesia Avivamiento en Bogotá Colombia donde el Espíritu Santo ha traído un refrescamiento y una transformación en su vida espiritual. El ministerio
                ha sido potenciado y la congregación impactada por la experiencia y ministración del <strong>Espíritu Santo</strong>.
            </p>
        </div>
    </div>
</section>

