@model IEnumerable<ET.Ministries>

@{ Layout = null; }


@foreach (var item in Model)
    {
        <li class="p-0">@Html.ActionLink(item.Name, item.ActionLink, "Ministries", routeValues: null, htmlAttributes: new { @class = "text-black" })</li>
    }                    