@model ET.AboutPage

@{
    ViewBag.Title = "Acerca de Nosotros";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="hp-section">
    <div class="container">
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Historia</h3>
                        <p>@Html.Raw(Model.History)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Misión</h3>
                        <p>@Html.Raw(Model.Mision)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Visión</h3>
                        <p>@Html.Raw(Model.Vision)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Pastores</h3>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex justify-content-center mb-3">
                                <img src="~/Images/Pastores.jpg" class="w-50" style="height: auto; border-radius: 10px;"/>
                            </div>
                        </div>
                        <p>@Html.Raw(Model.Pastors)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>