@{
    ViewBag.Title = "Acerca de Nosotros";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="hp-section">
    <div class="container">
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Historia</h3>
                        <p>Oasis Alajuela nació en el corazón de Cristo hace XXX años, empezamos...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Misión</h3>
                        <p>Ir y hacer discípulos a Alajuela, Costa Rica y el mundo, por medio de un encuentro con Jesús, conocimiento de la Palabra de Dios y la unción del Espíritu Santo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Visión</h3>
                        <p>Ver un pueblo rendido a los pies de Cristo, llenos del Espíritu Santo a la espera de la venida de nuestro de Señor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Pastores</h3>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex justify-content-center mb-3">
                                <img src="~/Images/igleoa1.jpg" width="80%"/>
                            </div>
                        </div>
                        <p>Gracias al Espíritu Santo, al timón de esta hermosa iglesia tenemos al <span class="font-weight-bold">Pastor Gerardo Montero</span> y a la <span class="font-weight-bold">Pastora Alicia Guillen</span>, ellos se han caracterizado por ser personas integras, con una búsqueda interminable de la voluntad y presencia de Dios.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>