@{
    ViewBag.Title = "Página en Construcción";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="banner full">
    <article>
        <img src="~/images/slide02.jpg" alt="" />
        <div class="inner">
            <header>
                <p>@ViewBag.Title</p>
                <h2 style="color: white; font-size: 9vw;">EN CONSTRUCCIÓN</h2>
                <p>EL SITIO ESTARA LISTO PRONTO</p>
            </header>
        </div>
    </article>
</section>
