@{
    ViewBag.Title = "Reseña Histórica";
    Layout = ViewBag.Layout;
}

<section class="hp-section bg-light ftco-animate animated fadeInUp">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center heading-section">
                <h3 class="mb-0 text-black font-weight-bolder">@ViewBag.Title.ToUpper()</h3>
                <p class="mb-2"><em>Pastores Gerardo y Alicia de Monterio</em></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <img src="~/Images/Pastores.jpg" width="500" align="top" class="my-2 mx-auto" style="max-width: 100%;" />
            <p class="my-2 text-justify">
                Gerardo Montero Arroyo nace el 3 de febrero del año 1968 en la ciudad de San José, Costa Rica, hijo de don Antonio Montero y Doña Luz Arroyo hermano de Rosa y Tatiana. A la corta
                edad de 9 años vive un encuentro con <strong>CRISTO</strong> al leer en un rótulo sencillo colocado en una propiedad baldía que decía:
            </p>
            <p class="my-2 mx-auto font-italic font-weight-bold">
                "Venid a mí los que estáis trabajados y cargados..."
            </p>
            <p class="my-2 text-justify">
                Allí es quebrantado y experimenta el toque del Espíritu Santo con un sentimiento inexplicable (en aquel momento de tan corta edad no comprendía que fue lo que sucedió). Está experiencia 
                marca su vida y se dirige entonces hacia la nueva ruta trazada por <strong>Dios</strong>.
            </p>
            <p class="my-2 text-justify">
                Alicia Guillén Leandro nace el 26 de enero del año 1967 en la ciudad de Cartago, Costa Rica hija de don Francisco Guillén y Emilce Leandro, tercera hija entre su hermano y hermana mayor 
                y su hermano menor. Forman parte de una Familia de origen Bautista y que años más tarde se establecerían en la línea Pentecostal practicada en la iglesia La Gran Campaña de Sanidad Divina 
                de los Pastores Raúl Y Dinora Vargas, hoy conocida como Casa Oasis.
            </p>
            <p class="my-2 text-justify">
                En sus planes divinos El Señor permite que estas dos familias se hagan vecinos de barrio (En San José de Costa Rica, vecinos de casas contiguas) para que Gerardo y Alicia se conozcan en el 
                año de 1985 y aquí es cuando inicia un propósito de Dios para sus vidas. Ya en una relación de noviazgo Dios los dirige juntos en sus primeros pasos de la fe en una pequeña iglesia de la 
                denominación Iglesia de Dios del Evangelio Completo del pastor Juan José Arroyo donde asisten por un corto período pues contraen matrimonio y como esposos son movidos a servir en la 
                Iglesia Santidad Pentecostés de los Pastores José e Isabel Amador. En esta etapa Dios manifiesta sus talentos en la música (Gerardo se establece con los instrumentos piano y guitarra y 
                Alicia con una hermosa voz para el canto) talentos que serán su base en el servicio y ahí son nombrados por primera vez Ministros y directores de Alabanza y Adoración, cargo que cumplirían 
                durante cuatro años consecutivos.
            </p>
            <p class="my-2 text-justify">
                Después de los cuatro años de servicio con el Pastor José Amador, Dios, en una dirección divina y específica les abre una puerta para servir en la iglesia Oasis de Esperanza del Apóstol Raúl 
                Vargas y Dinora de Vargas (Lugar de los orígenes de Alicia) quienes hasta la fecha se convertirían en sus mentores, cobertura y sobre todo sus Padres espirituales.
            </p>
            <p class="my-2 text-justify">
                Oasis de Esperanza se convirtió en su casa e inician una etapa de mayor nivel y reto pues no solo sirven en el ministerio musical, sino que participan en grabaciones de discos de Alabanza
                y Adoración, conferencistas de la Adoración junto a ministros de música muy reconocidos, asistencia Pastoral entre otros. Manifiestos los frutos de lealtad y obediencia en Gerardo y 
                Alicia además del respaldo de Dios en sus funciones, los Pastores Vargas reciben la dirección de llamarlos a tiempo completo como los Pastores del Ministerio musical de Oasis de Esperanza.
            </p>
            <p class="my-2 text-justify">
                Es entonces que, a finales de los años 90, su servicio se ensancha con nuevas funciones ministeriales como: Pastores en servicio de la casa, predicación de la palabra, consejerías, formación 
                de equipos ministeriales y viajes ministeriales internacionales.
            </p>
            <p class="my-2 text-justify">
                Con el paso del tiempo realizan estudios de mayor nivel en la formación teológica y ministerial.
            </p>
            <p class="my-2 text-justify">
                A finales del año 2008 el apóstol Raúl Vargas recibe la dirección de Dios de enviarles como Pastores Generales a una obra nueva (iglesia hija) en la provincia de Alajuela Costa Rica. 
                Oasis Alajuela, que funcionaría como parte de una extensión y proyección ministerial de iglesia Central Oasis de Esperanza. Es aquí donde nace el sueño de Dios para este ministerio 
                y los encomienda tal como encomendó al Apóstol Pedro, a cuidar, apacentar y amar su rebaño e iglesia.
            </p>
            <p class="my-2 text-justify">
                Oasis Alajuela es hoy una congregación amante de la Adoración (pues así lo estableció Dios desde sus orígenes) y amante de la comunión con el Espíritu Santo. Se inició en un pequeño 
                salón de la ciudad y hoy años después ha crecido conforme a la voluntad del Señor y continúa con la visión de cumplir el propósito divino.
            </p>
            <h3 class="mt-4 mb-0 font-weight-bolder text-black">Mensaje de los Pastores Gerardo y Alicia</h3>
        </div>
        <hr />
        <div>
            <img src="~/Images/familiaPastoral.jpeg" width="350" align="left" class="my-2 mr-3" style="max-width: 100%;" />
            <p class="my-2 text-justify">
                Damos gracias al Señor por su misericordia y por escogernos para hacer su obra. Hemos visto el favor y la cobertura de Dios a través de todos estos años en que cada día vivimos agradecidos
                por tomarnos en cuenta y encomendarnos su más preciado tesoro, sus hijos.
            </p>
            <p class="my-2 text-justify">
                Desde nuestra llegada a Alajuela no hemos visto un día en el que Él nos haya dejado sin su bendición, cobertura y gracia. El Señor ha sido fiel a su propósito y nos mantiene en crecimiento
                constante desde la pequeña bodega con 50 personas hasta hoy.
            </p>
            <p class="my-2 text-justify">
                En el año 2015 tuvimos una visitación del Santo Espíritu de Dios quien se nos reveló y escogió esta Casa para quedarse en medio nuestro:
            </p>
            <p class="my-2 mx-auto font-weight-bold font-italic text-center">
                “Ven Santo Espíritu quédate con nosotros”
            </p>
            <p class="my-2 text-justify">
                Este fue nuestro clamor hoy cumplido y a partir de ahí nos dio una dirección única a ejecutar: <strong>Síganme</strong>.
            </p>
            <p class="my-2 text-justify">
                Ya han pasado 5 años y continuamos amándole obedeciéndole siguiéndole con el deseo de hacer Su voluntad. Experimentamos maravillas, milagros y diversas operaciones del Señor siendo
                ya 5 años de búsqueda y de vivir un avivamiento más un continuo enamoramiento del Espíritu Santo. No hablamos de nosotros hablamos de Él, predicamos de Él y vivimos como nos pide;
                no buscamos lo nuestro lo buscamos a Él, y todo lo que hacemos es por El.
            </p>
            <p class="my-2 text-justify">
                Las personas cuentan sus experiencias personales tales como llegar al parqueo en su primera visita y empezar a llorar y no pararon aun estando en sus casas. Familias testifican como,
                buscando un lugar para congregarse y sin saber de nuestra Casa fueron atraídos directo a nuestras instalaciones como por lazos de amor y explican que al llegar no podían creerlo.
                Era lo que habían pedido hace mucho; sentir su Presencia otra vez.
            </p>
            <p class="my-2 mx-auto text-center">
                Hemos visto milagros sorprendentes y Dios estableció una palabra poderosa en acción:
            </p>
            <p class="my-2 mx-auto text-center font-italic font-weight-bold">
                “Cambio de Diagnóstico”
            </p>
            <p class="my-2 mx-auto text-center">
                Sí, así ha sido, diagnósticos de muerte se han convertido en vida.
            </p>
            <p class="my-2 text-justify">
                Nuestra familia vive hoy para seguir al Señor, amar su presencia y servirle con todo el corazón. Pareciera simple decir “seguirle”, pero no, realmente no lo es.
            </p>
            <p class="my-2 text-justify">
                En obediencia hemos sido llevados a dejar métodos, programas, planes de alcance, estrategias de igle-crecimiento etc… seguirle como nos enseñó; no llevando calzado o alforja, solo lo
                que EL nos vaya proveyendo día a día.
            </p>
            <p class="my-2 text-justify">
                Por esto es que nuestra visión es:
            </p>
            <p class="my-2 mx-auto text-center font-weight-bold h3">
                “Seguir al Espíritu Santo”
            </p>
            <p class="my-2 text-justify">
                …… punto, no hay más, aunque hay mucho.
            </p>
            <p class="my-2 text-justify">
                Caminamos con Su providencia diaria y una búsqueda constante, nuestro único propósito, agradarle a Él.
            </p>
            <p class="my-2 text-justify">
                Querido lector este es nuestro ministerio:
            </p>
            <p class="my-2 mx-auto text-center border border-dark" style="max-width: 80%;">
                Un ministerio nacido en el corazón de Dios para cumplir la misión que él nos ha encomendado, esperamos que veas en Oasis Alajuela una Casa en donde habita el
                <span class="font-weight-bold h5">Espíritu Santo</span>.
                <br />
                Si quieres conocerle ven congrégate con nosotros y conocerás al perfecto, al maravilloso Espíritu Santo.
                <br />
                <br />
                <span class="font-weight-bold">Somos la Casa del Espíritu Santo,</span>
                <br />
                <span class="font-weight-bold">somos el Auditorio del Espíritu Santo Oasis Alajuela.</span>
            </p>
            <p class="my-2 text-justify font-italic">
                Les bendecimos y les amamos.
            </p>
                     
        </div>
        <div class="row my-0">
            <img src="~/Images/familiaPastoral.jpeg" width="500" align="top" class="my-2 mx-auto" style="max-width: 100%;" />            
        </div>
        <div class="row my-0">
            <p class="my-2 text-justify font-weight-bold">
                Pastores Gerardo y Alicia de Montero.
                <br />
                Nuestros hijos Jenny con su esposo Sergio, Andrés y Christy
                <br />
                Nuestros nietos Santy, José y el que viene de camino...
            </p>
        </div>
    </div>
</section>

