@model ET.HomePage
    
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="row">
    @{ 
        Html.RenderAction("_Banners");
     }
</section>
<section class="upevent py-5" style="background-image: url(../Images/bg_4.jpg); background-size: 100%;">
    @{ 
        Html.RenderAction("_UpcommingEvents");
    }
</section>
