@model ET.HomePage
    
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="row">
    @{ 
        Html.RenderAction("_Banners");
     }
</section>
