
@{
    ViewBag.Title = "Semillas";
    Layout = ViewBag.Layout;
}
<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>
<div class="card ftco-animate animated fadeInUp">
    <div class="row wrapper style4 p-0">
        <img src="https://oasisalajuelawebiste.blob.core.windows.net/images/Seedling.jpg" width="2000" class="p-0 m-0 w-100 imgSeedling" style="max-width: 100%; min-heigth: auto;" alt="Diezmos, Ofrendas y Semillas"/>
    </div>
    <div class="col text-center heading-section ftco-animate animated fadeInUp">
        <h2 class="mb-0 mt-3"><span class="px-4"><i class="fas fa-seedling"></i> @ViewBag.Title</span></h2>
    </div>
    <div class="ftco-animate animated fadeInUp pt-4 pb-2 px-2 text-center">
        <p class="my-2">Puedes depositar tu Diezmo, Ofrenda o Semilla en cualquiera de las siguientes cuentas bancarias a nombre de:</p>
        <h4 class="my-2 font-weight-bolder">Asociación Cristiana Oasis Alajuela</h4>
        <h4 class="m-0 font-weight-bolder">Cédula Jurídica: 3002-583030</h4>
    </div>
    <div class="ftco-animate animated fadeInUp py-2 px-2 text-center mx-auto">
        <div class="row">            
            <table class="table-responsive-lg">
                <thead class="bg-dark text-white">
                    <tr>
                        <td scope="col">Entidad</td>
                        <td scope="col" class="responsiveHidden">Moneda</td>
                        <td scope="col">Cuenta</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" class="align-middle">
                            <img src="https://oasisalajuelawebiste.blob.core.windows.net/images/BNCR.png" width="100" alt="BNCR" />
                        </td>
                        <td align="center" class="align-middle responsiveHidden">
                            <p class="m-0 p-0">Colones</p>
                        </td>
                        <td class="text-left">
                            <p class="p-0 m-0 responsiveShow">Moneda: <span class="text-colorbase">Colones</span></p>
                            <p class="p-0 m-0">Cuenta BNCR: <span class="text-colorbase">100-01-002-014428-1</span></p>
                            <p class="p-0 m-0">Cuenta Cliente: <span class="text-colorbase">15100210010144289</span></p>
                            <p class="p-0 m-0">Cuenta IBAN: <span class="text-colorbase">CR-900-151-002-100-101-44289</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="align-middle">
                            <img src="https://oasisalajuelawebiste.blob.core.windows.net/images/BNCR.png" width="100" alt="BNCR" />
                        </td>
                        <td align="center" class="align-middle responsiveHidden">
                            <p class="m-0 p-0">Colones</p>
                        </td>
                        <td class="text-left">
                            <p class="p-0 m-0 responsiveShow">Moneda: <span class="text-colorbase">Colones</span></p>
                            <p class="p-0 m-0">Cuenta BNCR: <span class="text-colorbase">100-01-002-014798-1</span></p>
                            <p class="p-0 m-0">Cuenta Cliente: <span class="text-colorbase">15100210010147980</span></p>
                            <p class="p-0 m-0">Cuenta IBAN: <span class="text-colorbase">CR-520-151-002-100-101-47980</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="align-middle">
                            <img src="https://oasisalajuelawebiste.blob.core.windows.net/images/BNCR.png" width="100" alt="BNCR" />
                        </td>
                        <td align="center" class="align-middle responsiveHidden">
                            <p class="m-0 p-0">Colones</p>
                        </td>
                        <td class="text-left">
                            <p class="p-0 m-0 responsiveShow">Moneda: <span class="text-colorbase">Colones</span></p>
                            <p class="p-0 m-0">Cuenta BNCR: <span class="text-colorbase">200-01-002-099145-3</span></p>
                            <p class="p-0 m-0">Cuenta Cliente: <span class="text-colorbase">15100220010991453</span></p>
                            <p class="p-0 m-0">Cuenta IBAN: <span class="text-colorbase">CR-730-151-002-200-109-91453</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="align-middle">
                            <img src="https://oasisalajuelawebiste.blob.core.windows.net/images/BNCR.png" width="100" alt="BNCR" />
                        </td>
                        <td align="center" class="align-middle responsiveHidden">
                            <p class="m-0 p-0">Dólares</p>
                        </td>
                        <td class="text-left">
                            <p class="p-0 m-0 responsiveShow">Moneda: <span class="text-colorbase">Dólares</span></p>
                            <p class="p-0 m-0">Cuenta BNCR: <span class="text-colorbase">100-02-002-601278-1</span></p>
                            <p class="p-0 m-0">Cuenta Cliente: <span class="text-colorbase">15100210026012785</span></p>
                            <p class="p-0 m-0">Cuenta IBAN: <span class="text-colorbase">CR-860-151-002-100-260-12785</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="align-middle">
                            <img src="https://oasisalajuelawebiste.blob.core.windows.net/images/BNCR.png" width="100" alt="BNCR" />
                        </td>
                        <td align="center" class="align-middle responsiveHidden">
                            <p class="m-0 p-0">Dólares</p>
                        </td>
                        <td class="text-left">
                            <p class="p-0 m-0 responsiveShow">Moneda: <span class="text-colorbase">Dólares</span></p>
                            <p class="p-0 m-0">Cuenta BNCR: <span class="text-colorbase">100-02-002-601481-4</span></p>
                            <p class="p-0 m-0">Cuenta Cliente: <span class="text-colorbase">15100210026014815</span></p>
                            <p class="p-0 m-0">Cuenta IBAN: <span class="text-colorbase">CR-810-151-002-100-260-14815</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="align-middle">
                            <img src="https://oasisalajuelawebiste.blob.core.windows.net/images/BCR.png" width="100" alt="BCR" />
                        </td>
                        <td align="center" class="align-middle responsiveHidden">
                            <p class="m-0 p-0">Colones</p>
                        </td>
                        <td class="text-left">
                            <p class="p-0 m-0 responsiveShow">Moneda: <span class="text-colorbase">Colones</span></p>
                            <p class="p-0 m-0">Cuenta BCR: <span class="text-colorbase">001-0316029-7</span></p>
                            <p class="p-0 m-0">Cuenta IBAN: <span class="text-colorbase">CR-020-152-010-010-316-02971</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="col text-center heading-section ftco-animate animated fadeInUp">
        <h2 class="mb-0 mt-3"><span class="px-4">Deutoronomio 28:8</span></h2>
        <span class="subheading">"Jehová te enviará su bendición sobre tus graneros, y sobre todo aquello en que pusieres tu mano; y te bendecirá en la tierra que Jehová tu Dios te da."</span>
    </div>
</div>


