@{
    ViewBag.Title = "Confirmación - Petición de Oración";
    Layout = ViewBag.Layout;
}
<section class="banner full">
    <article>
        <img src="~/images/Prayer.jpg" alt="" width="1440" height="961"/>
        <div class="inner">
            <header>
                <p class="pt-0 pb-2" style="font-size: 2vw;">Hola @ViewBag.Requester!</p>
                <h2 style="color: white; font-size: 5vw;">Tu petición fue enviada correctamente</h2>
                <p class="pt-0 pb-2" style="font-size: 2vw;"></p>
                <p class="py-2" style="font-size: 2vw;">Y pronto daremos gloria a Dios por ello!</p>
            </header>
        </div>
    </article>
</section>