
<div class="site-footer p-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center text-black">
                <ul class="icons mt-4 mb-0">
                    <li><a href="https://twitter.com/oasisalajuela" target="_blank" class="text-white text-decoration-none" title="Twitter"><i class="fab fa-twitter-square fa-2x" style="vertical-align: middle;"></i></a></li>
                    <li><a href="https://www.facebook.com/OasisAlajuela/" target="_blank" class="text-white text-decoration-nonek" title="Facebook"><i class="fab fa-facebook-square fa-2x" style="vertical-align: middle;"></i></a></li>
                    <li><a href="https://www.instagram.com/aes_oasis/" target="_blank" class="text-white text-decoration-none" title="Instagram"><i class="fab fa-instagram-square fa-2x" style="vertical-align: middle;"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCsWIb3EobSzS-pNrPXvq7_A" target="_blank" class="text-white text-decoration-none" title="YouTube"><i class="fab fa-youtube-square fa-2x" style="vertical-align: middle;"></i></a></li>
                </ul>                
                <p>
                    Oasis Alajuela &copy; @DateTime.Now.Year Derechos reservados
                </p>
            </div>
        </div>
    </div>
</div>